/*FORMATAÇÃO GERAL */
a {
    color: black;
    font-weight: bold;
}

hr {
    color: goldenrod;
}

body {
    background-color: black;
}

section>* {
    margin-bottom: 2em;
}

.img-de-fundo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    margin-bottom: 2em;
    border-top: 0.5px solid goldenrod;
    border-bottom: 0.5px solid goldenrod;
    padding: 2em;
    text-align: center;
}

.titulo-principal {
    font-size: 35px;
    color: goldenrod;
    font-weight: bold;
    font-family: "Ubuntu";
    padding: 50px;
    margin: 0 auto;
    text-align: center;

}

.sub-titulo {
    color: rebeccapurple;
    font-family: "Sansita Swashed";
    font-size: 28px;
    text-align: center;
}

.textos {
    font-size: 18px;
    font-family: "Source Sans Pro";
    color: white;
}

.bloco-txt {
    /* background-color:rgba(128, 128, 128, 0.4); */
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
    padding: 20px;
    margin: auto;
    border: 0.5px solid transparent;
}

.bloco-txt:hover {
    transition: 0.5s;
    box-shadow: 0px 0px 10px 1px goldenrod;
}

#lista-servicos,
#lista-historico {
    color: white;
}

.item-lista {
    list-style: square;
}

/* ICONES REDES SOCIAIS */
.icones-redes{

}
#icone-linkedin {
    background-color: #0072b1;
}

#icone-facebook {
    background-color: #3b5998;
}

#icone-linkedin:hover,
#icone-facebook:hover {
    box-shadow: 0px 0px 5px 1px white;
}

/* LOGOTIPO */
.logotipo {
    text-align: center;
}

#logo {
    height: 2.5em;
    margin: 10px;
}


/* NAVBAR */
.navbar {
    margin: 0 auto;
    background-image: linear-gradient(to right, black, rgba(119, 136, 153, 0.2), black);
}

#navbar-link{
    justify-content: space-between;
    margin: 0 auto;
}

.nav-item {
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: rgba(119, 136, 153, 0.2);
    border: 2px solid transparent;
    border-radius: 2em;
    width: auto;
    padding: 10px;
}

.nav-item:hover {
    transition: 0.2s;
    background-color: purple;
    font-weight: bold;
    color: white;
}

/* APRESENTAÇÃO */
#apresentacao {
    background-color: black;
}

#img-apresentacao {
    background-image: url(https://cdn.pixabay.com/photo/2016/10/24/22/43/dubai-1767540_960_720.jpg);
}

#titulo-apresentacao {
    text-align: left;
    margin: auto;
}

.txt-destaque {
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

/* SLOGAN */
#slogan {
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    /* background-color: rgba(119, 136, 153, 0.2); */
    background-image: linear-gradient(to right, black, rgba(119, 136, 153, 0.2), black);
    padding-bottom: 20px;
}

#titulo-slogan {
    text-align: center;
    padding: 20px;
    /* text-shadow: 2px 2px 50px gold; */
}

.slg-item {
    border-radius: 10px;
    margin: auto;
}

.slg-textos {
    font-size: 25px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgba(119, 136, 153, 0.2);
}

#img-atendimento,
#img-relacionamento,
#img-simples {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

#img-atendimento {
    background-color: purple;
    height: 25em;
}

#img-relacionamento {
    background-color: goldenrod;
    height: 25em;
}

#img-simples {
    /* background-color: purple; */
    background-color: seagreen;
    height: 25em;
}

.desc-item {
    text-align: left;
    padding: 10px;
    border: 1px ridge white;
    border-radius: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: black;
}

/* SOLUÇÕES DIGITAIS */
#img-solucoes-digitais {
    background-image: url(https://cdn.pixabay.com/photo/2022/05/18/02/16/luminous-7204052_960_720.jpg);
}

#solucoes-digitais {
    background-color: black;
    justify-content: space-around;
}

#titulo-sol-digitais {
    text-align: center;
}

.bloco-sol-dig {
    background-image: linear-gradient(to right, black, rgba(119, 136, 153, 0.2), black);
    margin: 0;
    padding: 0;
}

.sol-dig-item {
    padding: 20px;
    /* border: 2px solid grey; */

}

.img-sol-dig {
    height: 5em;
    display: inline-block;
}

.titulo-item-sol {
    font-size: 25px;
    text-align: justify;
    font-family: "Sansita Swashed";
}

/* VOCÊ SABIA */
#img-vc-sabia {
    background-image: url(https://cdn.pixabay.com/photo/2020/06/04/11/10/bulb-5258341_960_720.jpg);
}

#titulo-vc-sabia {
    text-align: center;
}

/* SERVIÇOS */
#servicos {
    /* background-color: rgba(119, 136, 153, 0.2); */
    background-image: linear-gradient(to right, black, rgba(119, 136, 153, 0.2), black);
    border-radius: 20px;
    margin: 0 auto;
}

#titulo-servicos {
    text-align: center;
}

#txt-destaque-servicos {
    text-align: center;
    color: goldenrod;
    padding-bottom: 2em;
}

/* SEÇÃO - SOBRE */

/** APRESENTAÇÃO DAS EMPRESAS */
#apresentacao-empresas {
    background-image: linear-gradient(to right, black, rgba(119, 136, 153, 0.2), black);
    margin: 0 auto;
}

#img-apres-empre {
    background-image: url(https://cdn.pixabay.com/photo/2015/07/27/22/56/city-863692_960_720.jpg);
}

.img-apresentacao {
    height: 70px;
    width: auto;
    margin: 0 auto;
}

#desc-empre {
    border: 2px solid black;
    justify-content: space-around;
    background-image: linear-gradient(to right, black, rgba(119, 136, 153, 0.2), black);

}

.apres-empre {
    text-align: left;
    padding: 2em;
    margin: 0 auto;
}

/** FILOSOFIA DE TRABALHO */
#img-filos-trab {
    background-image: url(https://cdn.pixabay.com/photo/2020/02/28/16/18/board-4887880_960_720.jpg);
}

#filosofia-trabalho {
    background-image: linear-gradient(to right, black, rgba(119, 136, 153, 0.2), black);
}

.bloco-filos-trabalho {
    background-image: linear-gradient(to right, black, rgba(119, 136, 153, 0.2), black);
}

.item-filos-trab {
    text-align: center;
    padding: 20px;
    border: 2px solid white;
    border-radius: 20px;
    margin: 15px;
}

.icone-filos-trab {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    height: 5em;
    border: 2px solid goldenrod;
}

.desc-filos-trab {
    /* border: 2px solid red; */
    text-align: left;
    margin-top: 10px;
}

.bloco-teste {
    background-color: blue;
}

/** HISTORICO */
#historico {
    background-image: linear-gradient(to right, black, rgba(119, 136, 153, 0.2), black);
    border-radius: 20px;
    margin: 0 auto;
}

/* ICONE SUBIR - FLECHA PARA CIMA */
.btn-inicio {
    text-align: end;
    padding: 20px;
    color: white;
}

#icone-subir-tela {
    background-color: goldenrod;
}

/* RODAPE */
#rodape {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    border: 2px solid white;
    border-radius: 10px;
    background-image: linear-gradient(to right, black, grey, black);
    padding: 2px;
    margin: 0;
}

#txt-rodape {
    color: white;
    font-size: 8px;
}

.logo-rodape {
    height: 15px;
}