/* FORMATAÇÃO GERAL */
a {
    color: black;
    font-weight: bold;
}

hr {
    color: goldenrod;
}

body {
    background-color: black;
}

.imagens {
    /* padding-bottom: 20px; */
    height: 100%;
    width: 100%; 
}

.img-de-fundo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
    border-top: 0.5px solid goldenrod;
    border-bottom: 0.5px solid goldenrod;
    padding-top: 6em;
    padding-bottom: 6em;
}

.titulo-principal {
    font-size: 35px;
    color: goldenrod;
    font-family: "Ubuntu";
    padding: 50px;
    margin: 0 auto;
}

.sub-titulo{
    color: rebeccapurple;
    font-family: "Sansita Swashed";
    font-size: 33px;
}

.textos {
    font-size: 18px;
    font-family: "Source Sans Pro";
    color: white;
}

.bloco-txt {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
    border: 0.5px solid transparent;
}
.bloco-txt:hover{
    box-shadow: 0px 0px 10px 1px goldenrod;
}

/* LOGOTIPO */
.logotipo {
    text-align: center;
}

#logo {
    height: 2.5em;
    margin: 20px;
}


/* NAVBAR */
.navbar {
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    border-radius: 20px;
    justify-content: space-around; 
}

.nav-item {
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    width: 10em;
    text-align: center;
}

.nav-item:hover {
    transition: 0.2s;
    border: 2px solid purple;
    box-shadow: 0px 0px 5px purple;
}

/* APRESENTAÇÃO */

#apresentacao {
    background-image: url(https://cdn.pixabay.com/photo/2019/04/30/12/34/skyscrapers-4168483_960_720.jpg);
    text-align: left;

}

#titulo-apresentacao {
    
}

#txt-destaque {
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

/* SLOGAN */
#slogan {
    /* border: 2px solid goldenrod; */
    /* box-shadow: 0 0 10px 1px goldenrod; */
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    /* background-image: linear-gradient(to right, black, grey, black); */
}

#titulo-slogan {
    text-align: center;
    padding: 20px;
    /* text-shadow: 2px 2px 50px gold; */
}

.slg-item {
    /* background-image: url(https://cdn.pixabay.com/photo/2015/09/29/15/12/stars-964022_960_720.png); */
    border-radius: 10px;
    margin: auto;
    padding: 50px;
    background-image: linear-gradient(to right, black, grey, black);
}

.slg-textos {
    font-size: 25px;
    padding: 30px;
}

#img-atendimento {
    background-color: purple;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#img-relacionamento {
    background-color: goldenrod;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#img-simples {
    /* background-color: purple; */
    background-color: seagreen;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.desc-item {
    text-align: left;
    padding: 10px;
    border: 1px ridge white;
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
    background-color: black;
}

/* SOLUÇÕES DIGITAIS */
#solucoes-digitais {
    /* background-image: url(https://cdn.pixabay.com/photo/2020/07/08/04/12/work-5382501_960_720.jpg); */
    background-image: url(https://cdn.pixabay.com/photo/2020/02/03/00/12/fiber-4814456_960_720.jpg);
}
#fundo-solucoes{
    background-color: rgba(119, 136, 153, 0.2);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

#titulo-sol-digitais {
    text-align: center;
}

.sol-dig-item {
    color: white;
}

.img-sol-dig {
    height: 5em;
    border-radius: 100px;
}

.titulo-item-sol {
    font-size: 30px;
    font-family: "Sansita Swashed";
}

/* VOCÊ SABIA */
#vc-sabia {
    background-image: url(https://cdn.pixabay.com/photo/2020/06/04/11/10/bulb-5258341_960_720.jpg);
}

#titulo-vc-sabia {
    text-align: center;
}

/* SERVIÇOS */
#servicos {
    background-color: rgba(119, 136, 153, 0.2);
    border-radius: 20px;
}

#titulo-servicos {
    text-align: center;
    padding-bottom: 0.5em;
}

.item-lista {
    list-style-type: square;
}

#txt-destaque-servicos {
    text-align: center;
    color: goldenrod;
    padding-bottom: 2em;
}

/* RODAPE */
#rodape {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    border: 2px solid white;
    border-radius: 10px;
    background-image: linear-gradient(to right, black, grey, black);
    padding: 5px;
}

#txt-rodape {
    color: white;
}

.logo-rodape {
    height: 30px;
}