/* FORMATAÇÃO GERAL */
a {
    color: black;
    font-weight: bold;
}

hr {
    color: goldenrod;
}

.bloco-sec {
    /* border: 2px solid purple; */
    border-radius: 20px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.imagens {
    padding-bottom: 20px;
    height: 350px;
    width: auto;
    border-radius: 20px;
}

.titulos {
    /* font-size: 25px; */
    text-align: center;
    color: goldenrod;
}

/* DIV GERAL */
#div-geral {
    background-image: url(./Imagens/plano_fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

/* LOGOTIPO */
.logotipo {
    text-align: center;
}

#logo {
    height: 3em;
    margin: 20px;
}


/* NAVBAR */
.navbar {
    /* background-color: white; */
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    border-radius: 20px;
    justify-content: space-around;
}

.nav-item {
    font-size: 23px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    width: 9em;
    text-align: center;
}

.nav-item:hover {
    transition: 0.2s;
    border: 2px solid purple;
    box-shadow: 0px 0px 5px purple;
}

/* APRESENTAÇÃO */
.apresentacao {
    color: white;
}

#txt-destaque {
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

/* SLOGAN */
.slogan {
    text-align: center;
    grid-gap: 2.5px;
}

.slg-atendimento {
    background-color: purple;
    border-radius: 20px;
}

.slg-relacionamento {
    background-color: goldenrod;
    border-radius: 20px;
}

.slg-simples {
    background-color: purple;
    border-radius: 20px;
}

.slg-titulo {
    text-align: center;
    font-size: 23px;
    color: goldenrod;
    font-weight: bold;
}

.desc-item {
    text-align: left;
    padding: 10px;
    border: 1px ridge white;
    border-radius: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
}

/* SOLUÇÕES DIGITAIS */
.sol-dig-item {
    color: white;
}

.img-sol-dig {
    height: 2.5em;
    border-radius: 100px;
}